@import "./normalize.css";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
}

.head_top {
    background-color: #E5E5E5;
    padding-top: 17px;
    padding-bottom: 16px;
    text-align: center;

}

.head_top .link {
    color: #333333;
    margin-right: 30px;
}

.head_top .link:last-child {
    margin-right: 0;
}

.head_logo {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;
}

.logo_items {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.contacts_item {
    line-height: 19px;
    color: #000000;
}

.contact_btn {
    border: 2px solid #F13C6E;
    border-radius: 40px;
    background-color: #fff;
    padding: 13px 27px;
    margin-left: 40px;
}

.head_nav {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}



.head_nav .link {
    line-height: 19px;
    color: #000000;
    margin-right: 40px;
}

.head_nav .link:last-child {
    margin-right: 0;
}


.intro {
    background: url(/images/main_bg.jpg) no-repeat center #f13c6e;
    color: #fff;
}

.intro_title {
    width: 308px;
    padding-top: 192px;
    padding-bottom: 193px;
}



.intro_sup_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
    
}

.intro_sub_title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
}

.intro_btn {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 13px 43px;
}

.main_content {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #E5E5E5;
}

.content_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 38px;
}

.content {
    display: flex;
    justify-content: space-between;

}

.content_card {
    display: inline-block;
    width: 255px;
    background-color: #fff;
    padding: 25px 30px;
    text-align: center;
}


.content_img {
    width: 125px;
    margin-bottom: 20px;
}

.content_name {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 20px;
    

}

.content_price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 29px;

}

.content_btn {
    display: inline-block;
    padding: 9px 40px;
    background: #F13C6E;
    border-radius: 30px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.subscribe {
    background-color: #E5E5E5;
    padding-bottom: 100px;
}

.subscribe_items {
    display: flex;
    justify-content: space-between;    
    color: #FFFFFF;
}

.bonus {
    padding: 35px 45px 35px 40px;
    width: 540px;
    background: url(/images/icons/email_icon.png) center right 45px no-repeat;
    background-color: #F13C6E;
}

.bonus_item {
    width: 250px;
}

.subscribe_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 25px;
}

.subscribe_text {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 25px;
}

.subscribe_form {
    padding: 9px 0 9px 25px;
    width: 225px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.shops {
    padding: 35px 45px 35px 40px;
    width: 540px;
    background: url(/images/icons/auto_icon.png) center right 45px no-repeat;
    background-color: #F13C6E;
}

.shops_item {
    width: 250px;
}

.subscribe_btn {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 9px 28px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
}

.brands {
    background-color: #E5E5E5;
    padding-bottom: 80px;
}

.brands_item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FFF;
    
}

.brands_img {
    width: 25%;
    padding: 35px 64px;
    border: 1px solid #EFEFEF;
    
}

.recent {
    background-color: #E5E5E5;
    padding-bottom: 80px;

}

.categories {
    display: flex;
    justify-content: space-between;

}

.categories_items {
    width: 255px;
}

.categories_title {
    font-weight: 500;
    line-height: 140.62%;
    width: 150px;
    padding-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EFEFEF;
}

.categories_list {
    padding-top: 25px;
    padding-bottom: 60px;
}

.categories .link {
    display: block;
    font-size: 12px;
    line-height: 28px;   
    color: #828282;
    
    
}

.social {
    padding-top: 37px;
    padding-bottom: 38px;
    border-top: 1px solid #EFEFEF;
}

.social_main {
    display: flex;
    justify-content: space-between;
}


.social_items {
    display: flex;    
}

.social_item {
    display: block;
    position: relative;    
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

.social_item:last-child {
    margin-right: 0;
}

.social_item::after {
    content: '';
    position: absolute;
    background: url(/images/icons/Ellipse.png) center no-repeat;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.social_item:hover {
    box-shadow: 0 0 10px 0 red;
}


.social_img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;    
}

.footer_end {
    background-color: #E5E5E5;
}

.footer_text {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    
}


